body {
  padding-left: 0;
  padding-right: 0;
  color: #ffffff;
  background: #ff4c30;
  font-family:"museo";
  text-align: center;
}

.container-fluid {
  background: #ff4c30;
}

.container-fluid .row-fluid .span12 .navbar {
  height: 42px;
}

.container-fluid .row-fluid .span12 .navbar .navbar-inner {
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

.name {
  font-family:"museo";
  text-align: center;
}

.presents {
  text-align: center;
  font-family:"lobster";
  font-size: 20px;
}

.apps4 {
  font-family:"museo";
  text-align: center;
  margin-bottom: 40px;
}

.about {
  text-align: center;
  font-family:"museo";
  margin: 20px;
  line-height: 30px;
  font-size: 20px;
}

.about p {
  /*
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  */
}

.counts {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  padding-top: 20px;
  font-family:"museo";
}

.add-app {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
}

.add-app iframe {
  vertical-align: middle;
}

hr {
  height: 1px;
  border: 0 none;
  background-color: #fff;
  width: 400px;
  margin: auto;
}
